<h1>{{title}}</h1>
<h2>{{personName}}</h2>
<main class = "people">
<ul>
	{{#each people}}
	<li>
	<a href = "/details/{{this.id}}">{{this.firstName}} {{this.lastName}}</a><br>
	
	</li>
	{{/each}}
</ul>
</main>
{{#unless people.length}}
<p class="not-found">We're sorry, but no results were found for {{personName}}.</p>
{{/unless}}

<br>
<br>
<br>
<br>
<a href = "/" id = "back_to_search">Make another search</a>