<h1>Profile</h1>
<main class = "person">
<dl>
  <dt>ID</dt>
  <dd>{{person._id}}</dd>
  <dt>First Name</dt>
  <dd>{{person.firstName}}</dd>
  <dt>Last Name</dt>
  <dd>{{person.lastName}}</dd>
  <dt>Bio</dt>
  <dd>{{person.bio}}</dd>
  <dt>Profession</dt>
  <dd>{{person.profession}}</dd>
</dl> 
<a href ="/logout">Logout</a>
</main>